<div class="h-screen flex flex-col justify-center items-center">
  <div class="bg-slate-50 w-full max-w-sm rounded shadow-md p-5">
    <form action="post" class="flex flex-col">

      <label class="label" for="cpf">Cpf</label>
      <input id="cpf" [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" class="input mb-2" placeholder="000.000.000-00" type="text" />

      <label class="label" for="senha">Senha</label>
      <input id="senha"  [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" class="input mb-2" placeholder="*********" type="password" />

      <div class="flex flex-row-reverse my-4">
        <button
          class="hover:border-slate-50 hover:bg-slate-900 hover:text-slate-50 border px-4 py-2 border-slate-900 rounded-md"
          (click)="login()" type="submit">Buscar</button>
      </div>

    </form>
  </div>
</div>
