<div class="h-screen flex flex-col justify-center items-center">
  <div class="bg-slate-50 w-full max-w-3xl rounded shadow-md p-5">
    <div class="flex flex-row justify-between">
      <h1 class="text-3xl font-bold mb-4">Cadastrar Nova Tarefa</h1>
      <div>
      <button routerLink="/" class="hover:border-slate-50 hover:bg-slate-900 hover:text-slate-50 border p-4 border-slate-900 rounded-md" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg>
      </button>
      </div>
      </div>
    <form class="flex flex-col">
      <label class="label" for="titulo">Título</label>
      <input required id="titulo" [(ngModel)]="tarefa.titulo" name="titulo" class="input mb-2" type="text" />

      <label class="label" for="descricao">Descrição</label>
      <textarea rows="3" id="descricao" [(ngModel)]="tarefa.descricao" name="descricao" class="input mb-2"></textarea>

      <div class="flex flex-grow">
        <div class="flex w-1/2 pr-2 flex-col">
          <label class="label" for="responsavel">
            Responsável
          </label>
          <select required name="idFuncionario" [(ngModel)]="tarefa.idFuncionario" class="input appearance-none mb-2" id="responsavel">
            <option value=""></option>
            <option *ngFor="let funcionario of funcionarios" value="{{funcionario.id}}">{{funcionario.nome}}</option>
          </select>
        </div>
        <div class="flex w-1/2 pl-2  flex-col">
          <label class="label" for="prioridade">
            Prioridade
          </label>
          <select required name="prioridade" [(ngModel)]="tarefa.prioridade" class="input appearance-none" id="prioridade">
            <option value=""></option>
            <option *ngFor="let prioridade of prioridades; let i = index" [attr.id]="prioridade-i" value="{{i}}">{{prioridade.prioridade}}</option>
          </select>
        </div>
      </div>
      <label class="label" for="deadline">Deadline</label>
      <input required name="deadline" id="deadline" [(ngModel)]="tarefa.deadline" class="input mb-2" type="date" />
      <div class="flex flex-row-reverse my-4">
        <button (click)="criar()"
          class="hover:border-slate-50 hover:bg-slate-900 hover:text-slate-50 border px-4 py-2 border-slate-900 rounded-md"
          type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
